Package: com.trollmcp.memorytweak
Name: MemoryTweak
Version: 1.0
Architecture: iphoneos-arm64
Description: H5gg-style memory tweak dylib with HTTP API
Maintainer: TrollAgent
Author: TrollAgent
Section: Tweaks
Priority: optional
