Package: com.trollmcp.memorytweak
Name: MemoryTweak
Version: 1.0
Architecture: iphoneos-arm64
Description: H5gg-style memory tweak dylib with HTTP API
Maintainer: TrollMCP2
Author: TrollMCP2
Section: Tweaks
Priority: optional
